@{
    ViewData["Title"] = "SkillUp-Index";
}

@model IndexVM
<!-- ============================ Hero Banner  Start ================================== -->
<div class="hero_banner image-cover image_bottom h7_bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="simple-search-wrap text-left">
                    <div class="hero_search-2">
                        <div class="elsio_tag yellow">LISTEN TO OUR NEW ANTHEM</div>
                        <h1 class="banner_title mb-4">The Best<br>e-Learning Cources For<br><span class="light">Better Future</span></h1>
                        <p class="font-lg mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <div class="input-group simple_search">
                            <i class="fa fa-search ico"></i>
                            <input type="text" class="form-control" placeholder="Search Your Cources">
                            <div class="input-group-append">
                                <button class="btn theme-bg" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="side_block extream_img">
                    <div class="list_crs_img">
                        <img src="~/user/assets/img/ic-1.png" class="img-fluid cirl animate-fl-y" alt="" />
                        <img src="~/user/assets/img/ic-2.png" class="img-fluid arrow animate-fl-x" alt="" />
                        <img src="~/user/assets/img/ic-3.png" class="img-fluid moon animate-fl-x" alt="" />
                    </div>
                    <img src="~/user/assets/img/side-2.png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->


<!-- ================================ Tag Award Start ================================ -->
<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="crp_box fl_color ovr_top">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141"><i class="fa fa-journal-whills"></i></div>
                                <div class="dro_142">
                                    <h6>200+ Cources</h6>
                                    <p>Duis aute irure dolor in voluptate velit esse cillum labore .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-1"><i class="fa fa-business-time"></i></div>
                                <div class="dro_142">
                                    <h6>Lifetime Access</h6>
                                    <p>Duis aute irure dolor in voluptate velit esse cillum labore .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-3"><i class="fa fa-user-shield"></i></div>
                                <div class="dro_142">
                                    <h6>800k+ Enrolled</h6>
                                    <p>Duis aute irure dolor in voluptate velit esse cillum labore .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ================================ Tag Award End ================================ -->


<!-- ============================ How It Works Start ================================== -->
<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>How It <span class="theme-cl">Works?</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5">

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="wrk_grid">
                    <div class="wrk_grid_ico">
                        <i class="fa fa-search-location"></i>
                    </div>
                    <div class="wrk_caption">
                        <h4>Find Cources</h4>
                        <p>We have helped over 3,400 new students to get into the most popular tech teams.</p>
                    </div>
                </div>
            </div>

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="wrk_grid active">
                    <div class="wrk_grid_ico">
                        <i class="fa fa-calendar-week"></i>
                    </div>
                    <div class="wrk_caption">
                        <h4>Book Your Seat</h4>
                        <p>We have helped over 3,400 new students to get into the most popular tech teams.</p>
                    </div>
                </div>
            </div>

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="wrk_grid">
                    <div class="wrk_grid_ico">
                        <i class="fa fa-award"></i>
                    </div>
                    <div class="wrk_caption">
                        <h4>Get Certificate</h4>
                        <p>We have helped over 3,400 new students to get into the most popular tech teams.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ How It Works End ================================== -->


<!-- ============================ Latest cources Start ================================== -->
<section class="min gray">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center mb-4">
                    <h2>Recent Listed <span class="theme-cl">Cources</span></h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="slide_items">

                    @foreach (var item in Model.Courses)
                    {
                        <!-- Single Item -->
                        <div class="lios_item">
                            <div class="crs_grid shadow_none brd">
                                <div class="crs_grid_thumb">
                                    <a href="course-detail.html" class="crs_detail_link">
                                        <img src="~/user/assets/courseimg/@item.ImageUrl" width="100"  alt="" />
                                    </a>
                                    <div class="crs_video_ico">
                                        <i class="fa fa-play"></i>
                                    </div>
                                    <div class="crs_locked_ico">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                </div>
                                <div class="crs_grid_caption">
                                    <div class="crs_flex">
                                        <div class="crs_fl_first">
                                            <div class="crs_cates cl_6"><span>
                                                @foreach (var category in item.CourseCategories.Where(ctg=>ctg.CategoryId == item.Id))
                                                    {
                                                        <span>@category.Category.Name</span>
                                                    }
                                            </span></div>
                                        </div>
                                        <div class="crs_fl_last">
                                            <div class="crs_price"><h2><span class="currency">$</span><span class="theme-cl">@item.Price</span></h2></div>
                                        </div>
                                    </div>
                                    <div class="crs_title"><h4><a asp-controller="Course" asp-action="CourseDetail" asp-route-id ="@item.Id" class="crs_title_link">@item.Name</a></h4></div>
                                    <div class="crs_info_detail">
                                        <ul>
                                            <li><i class="fa fa-clock text-danger"></i><span>Yazacam</span></li>
                                            <li><i class="fa fa-video text-success"></i><span>
                                                 <span>@item.Paragraphs.Sum(x=>x.Lectures.Count) Lectures</span>
                                            </span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="crs_grid_foot">
                                    <div class="crs_flex">
                                        <div class="crs_fl_first">
                                            <div class="crs_tutor">
@*                                                <div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="~/user/assets/instructorimg/@item.Instructor.ImageUrl" class="img-fluid circle" alt="" /></a></div>
*@                                            </div>
                                        </div>
                                        <div class="crs_fl_last">
                                            <div class="foot_list_info">
                                                <ul>
                                                    <li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">@item.AppUserCourses.Count</div></li>
                                                    <li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">@item.ViewCount</div></li>
                                                    <li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">Yazacam</div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    }        

                   

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Latest cources End ================================== -->


<!-- ============================ Categories Start ================================== -->
<section >
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Select Your <span class="theme-cl">Categories</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            @foreach (var category in Model.Categories)
            {
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="cates_crs_wrip">
                    <div class="crs_trios">
                        <div class="crs_cate_icon"><i class="@category.IconUrl"></i></div>
                        <div class="crs_cate_link"><a href="grid-layout-with-sidebar.html">View Cources</a></div>
                    </div>
                    <div class="crs_capt_cat">
                        <h4>@category.Name</h4>
                        <p>@category.Description.</p>
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Categories End ================================== -->


<!-- ============================ Top Instructor Start ================================== -->
<section class="min gray">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center mb-4">
                    <h2>Our Top <span class="theme-cl">Instructors</span></h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="tutor-slide">

                    @foreach (var instructor in Model.Instructors)
                    {
                        <div class="lios_item">
                            <div class="crs_trt_grid theme-light shadow_none">
                                <div class="crs_trt_thumb">
                                   <a asp-controller="Instructor" asp-action="InstructorDetail" asp-route-id="@instructor.Id" class="crs_trt_thum_link"><img src="~/user/assets/instructorimg/@instructor.ImageUrl" alt=""></a>
                               </div>
                                <div class="crs_trt_caption large">
                                    <div class="instructor_tag dark"><span>Sanskrit Teacher</span></div>
                                    <div class="instructor_title"><h4><a href="instructor-detail.html">@(instructor.Name + " " + instructor.Surname)</a></h4></div>
                                    <div class="trt_rate_inf">
                                        <i class="fa fa-star filled"></i>
                                        <i class="fa fa-star filled"></i>
                                        <i class="fa fa-star filled"></i>
                                        <i class="fa fa-star filled"></i>
                                        <i class="fa fa-star-half filled"></i>
                                        <span class="alt_rates">(244 Reviews)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Top Instructor End ================================== -->


<!-- ============================ Top Cources E-books Start ================================== -->
<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Top & Featured <span class="theme-cl">Products</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            @foreach (var product in Model.Products)
            {
                <div  class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="prd_grid_box">
                        <div class="shd_142">
                            <div class="prt_saveed_12lk">
                                <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                            </div>
                        </div>
                        <div class="prd_grid_thumb">
                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.Id"><img src="~/user/assets/productimg/@product.ImageUrl" class="img-fluid" alt=""></a>
                        </div>
                        <div class="prd_grid_caption">
                            <div class="prd_center_capt">
                                <div class="prd_review">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                    <span>(34)</span>
                                </div>
                                <div class="prd_title"><h4><a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">@product.Name</a></h4></div>
                                <div class="prd_price_info">
                                    @if (product.DiscountPrice>0 && product.Price>0)
                                    {
                                      <h5 class="org_prc"><span class="old_prc">$@product.Price</span>$@product.DiscountPrice</h5>
                                    }
                                    @if (product.DiscountPrice==0 && product.Price > 0)
                                    {
                                        <h5 class="org_prc">$@product.Price</h5>
                                    }
                                    @if (product.DiscountPrice == 0 && product.Price == 0)
                                    {
                                         <h5 class="org_prc">Free</h5>
                                    }
                                </div>
                            </div>
                            <div class="prd_bot_capt">
                                <div class="prd_button">
                                    <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id" class="bth bth_prd">More Info...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<!-- ============================ Top Cources E-books End ================================== -->


<!-- ============================ Students Reviews Start ================================== -->
<section class="min gray">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Our Students <span class="theme-cl">Reviews</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-sm-12">

                <div class="reviews-slide space">

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Susan D. Murphy</h5>
                                        <div class="_ovr_posts"><span>CEO, Leader</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/300x300" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Maxine E. Gagliardi</h5>
                                        <div class="_ovr_posts"><span>Apple CEO</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.5</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/300x300" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Roy M. Cardona</h5>
                                        <div class="_ovr_posts"><span>Google Founder</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.9</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/300x300" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Dorothy K. Shipton</h5>
                                        <div class="_ovr_posts"><span>Linkedin Leader</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/300x300" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="single_items lios_item">
                        <div class="_testimonial_wrios shadow_none">
                            <div class="_testimonial_flex">
                                <div class="_testimonial_flex_first">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="">
                                    </div>
                                    <div class="_tsl_flex_capst">
                                        <h5>Robert P. McKissack</h5>
                                        <div class="_ovr_posts"><span>CEO, Leader</span></div>
                                        <div class="_ovr_rates"><span><i class="fa fa-star"></i></span>4.7</div>
                                    </div>
                                </div>
                                <div class="_testimonial_flex_first_last">
                                    <div class="_tsl_flex_thumb">
                                        <img src="https://via.placeholder.com/300x300" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="facts-detail">
                                <p>Faucibus tristique felis potenti ultrices ornare rhoncus semper hac facilisi Rutrum tellus lorem sem velit nisi non pharetra in dui.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
<!-- ============================ Students Reviews End ================================== -->


<!-- ============================ Article Start ================================== -->
<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Latest News & <span class="theme-cl">Articles</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- Single Item -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="blg_grid_box">
                    <div class="blg_grid_thumb">
                        <a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="blg_grid_caption">
                        <div class="blg_tag"><span>Marketing</span></div>
                        <div class="blg_title"><h4><a href="blog-detail.html">How To Register & Enrolled on SkillUp Step by Step?</a></h4></div>
                        <div class="blg_desc"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p></div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="https://via.placeholder.com/500x500" class="img-fluid circle" alt="" /></a></div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul>
                                        <li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">10k Views</div></li>
                                        <li><div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div><div class="elsio_tx">10 July 2021</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="blg_grid_box">
                    <div class="blg_grid_thumb">
                        <a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="blg_grid_caption">
                        <div class="blg_tag"><span>Business</span></div>
                        <div class="blg_title"><h4><a href="blog-detail.html">Let's Know How Skillup Work Fast and Secure?</a></h4></div>
                        <div class="blg_desc"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p></div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="https://via.placeholder.com/500x500" class="img-fluid circle" alt="" /></a></div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul>
                                        <li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">10k Views</div></li>
                                        <li><div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div><div class="elsio_tx">10 July 2021</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="blg_grid_box">
                    <div class="blg_grid_thumb">
                        <a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="blg_grid_caption">
                        <div class="blg_tag"><span>Accounting</span></div>
                        <div class="blg_title"><h4><a href="blog-detail.html">How To Improove Digital Marketing for Fast SEO</a></h4></div>
                        <div class="blg_desc"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p></div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="https://via.placeholder.com/500x500" class="img-fluid circle" alt="" /></a></div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul>
                                        <li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">10k Views</div></li>
                                        <li><div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div><div class="elsio_tx">10 July 2021</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Article End ================================== -->

