@{
    ViewData["Title"] = "ManageCourses";
}
@model ICollection<Course>
<!-- ============================ Dashboard: Dashboard Start ================================== -->
<!-- Row -->
<div class="row justify-content-between">
    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
        <div class="dashboard_wrap d-flex align-items-center justify-content-between">
            <div class="arion">
                <nav class="transparent">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Manage Courses</li>
                    </ol>
                </nav>
            </div>
            <div class="elkios">
                <a asp-area="Manage" asp-controller="Course" asp-action="AddNewCourse" class="add_new_btn" data-target="#catModal"><i class="fas fa-plus-circle mr-1"></i>Add New Course</a>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="dashboard_wrap">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 mb-4">
                    <h6 class="m-0">All Courses List</h6>
                </div>
            </div>

            <div class="row align-items-end mb-5">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Categories</label>
                        <div class="smalls">
                            <select id="cates" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="1">IT & Software</option>
                                <option value="2">Banking</option>
                                <option value="3">Medical</option>
                                <option value="4">Insurence</option>
                                <option value="5">Finance & Accounting</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Instructor</label>
                        <div class="smalls">
                            <select id="ins" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="1">Summer D. Friedel</option>
                                <option value="2">Daniel D. Richards</option>
                                <option value="3">Rosemary K. Delisle</option>
                                <option value="4">Joseph S. Whetstone</option>
                                <option value="5">Roger M. Gragg</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Status</label>
                        <div class="smalls">
                            <select id="sts" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="1">Active</option>
                                <option value="2">Incoming</option>
                                <option value="3">Expired</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Price</label>
                        <div class="smalls">
                            <select id="prc" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="1">All</option>
                                <option value="2">Free</option>
                                <option value="3">Paid</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="form-group">
                        <button type="button" class="btn text-white full-width theme-bg">Filter</button>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-xl-2 col-lg-3 col-md-6">
                    <div class="form-group smalls row align-items-center">
                        <label class="col-xl-3 col-lg-3 col-sm-2 col-form-label">Show</label>
                        <div class="col-xl-9 col-lg-9 col-sm-10">
                            <select id="show" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="1">10</option>
                                <option value="2">25</option>
                                <option value="3">35</option>
                                <option value="3">50</option>
                                <option value="3">100</option>
                                <option value="3">250</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="form-group smalls row align-items-center">
                        <label class="col-xl-2 col-lg-2 col-sm-2 col-form-label">Search</label>
                        <div class="col-xl-10 col-lg-10 col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
                    <div class="table-responsive">
                        <table class="table dash_list">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Lectures</th>
                                    <th scope="col">Enrolled</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in Model)
                                {
                                   <tr>
                                    <td><h6>@course.Name</h6><p>Instructor:<span>@course.Instructor.Name @course.Instructor.Surname</span></p></td>
                                    <td><div class="dhs_tags">
                                        @foreach (var category in course?.CourseCategories.Where(ctg=>ctg.CategoryId == course.Id))
                                        {

                                           <span>@category.Category.Name</span>
                                        }
                                    </div></td>
                                     <td><span class="smalls">
                                        
                                           <span>@course.Paragraphs.Sum(x=>x.Lectures.Count) Lectures</span>
                                         
                                                </span></td>
                                    <td><span class="smalls">Total: @course.AppUserCourses.Count</span></td>
                                    <td>
                                        @if (course.IsActive == true)
                                        {
                                          <span class="trip theme-cl theme-bg-light">Active</span>
                                        }
                                        else
                                        {
                                            <span class="trip text-danger bg-light-danger">Expired</span>
                                        }
                                    </td>
                                    <td>
                                        @if (course.Price>0)
                                        {
                                            <span class="trip gray">$@course.Price</span>    
                                        }
                                        else
                                        {
                                             <span class="trip theme-cl theme-bg-light">Free</span>

                                        }
                                    <td>
                                        <div class="dropdown show">
                                            <a class="btn btn-action" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </a>
                                            <div class="drp-select dropdown-menu">
                                                <a class="dropdown-item" href="JavaScript:Void(0);">View</a>
                                                <a class="dropdown-item" href="JavaScript:Void(0);">Edit</a>
                                                <a class="dropdown-item" href="JavaScript:Void(0);">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                    
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <p class="p-0">Showing 1 to 15 of 15 entire</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <nav class="float-right">
                        <ul class="pagination smalls m-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-arrow-circle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<!-- ============================ Dashboard: Dashboard End ================================== -->
